---
import Layout from "../layouts/Layout.astro";
import image from "../assets/Cover_Images/project2cover.jpg"
import { Image } from "astro:assets";
import "../assets/styles.css";
import Textbox from "../components/Textbox.astro";
import ProgressBar from "../components/ProgressBar.astro";
import flight_plan from "../assets/Aerodynamic_Guided_Parachute/flight_plan.png";
---
<Layout title="Aerodynamic Guided Parachute">
	<main style="margin-top: 4rem">
		<section class="header-section">
			<div class="header-container">
				<div class="text-container">
					Tail Rotor Guided Payload
				</div>
			</div>
		</section>
		<div class="wrapper"><Textbox
			headertext="PROJECT OVERVIEW"
			datetext="9-8-2024"
		/>
		<section class="body-text">This is the deployed payload for the Terrapin Rocket Team competition rocket, which competes in the Spaceport America Cup (IREC). The payload must be cubs in dimensions and weigh a minimum of 4 kilograms. Our goals are to deploy a payload with a camera capable of recording the rocket deploying its main chute and to have the payload able to steer itself during descent under the chute.</section>
		<ProgressBar Progress="Working on it"/>
		</div>
		<div class="wrapper"><Textbox
			headertext="FLIGHT PLAN"
			datetext="10-30-2024"
		/>
		<section class="body-text">The payload will be deployed just before the main chute such that it has enough time to get oriented and pointing at the rocket in time to record the main chute deploying.</section>
		<div class="two-images">
			<Image style="width:80%; height:auto" src={flight_plan} alt="Flight Plan" class="image"/>
		</div>
		
    </main>
	<footer>
        <button class="footer-button" onclick=`window.location.href='/Invincible Aerostructures'`>⇦ Previous</button>
		<button class="footer-button" onclick=`window.location.href='/'`>Home</button>
		<button class="footer-button" onclick=`window.location.href='/Rotor Guided Parachute'`>Next ⇨</button>
	</footer>
</Layout>
<link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
<style>
.header-section {
	height: clamp(0px, 30vh, 100vw);
	background-image: url("../assets/Cover_Images/project2cover.jpg");
	background-size: cover; 
	background-position: center; /* Center the image */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
</style>