---
import Layout from "../layouts/Layout.astro";
import image from "../assets/Cover_Images/project2cover.jpg"
import { Image } from "astro:assets";
import "../assets/styles.css";
import Textbox from "../components/Textbox.astro";
import ProgressBar from "../components/ProgressBar.astro";
import top_view from "../assets/Highest_Performing_Truss/top_view.jpg";
import left_view from "../assets/Highest_Performing_Truss/left_view.jpg";
import right_view from "../assets/Highest_Performing_Truss/right_view.jpg";
import closeup from "../assets/Highest_Performing_Truss/closeup.jpg";
---
<Layout title="Autonomus_Drone_Teaming">
	<main style="margin-top: 4rem">
		<section class="header-section">
			<div class="header-container">
				<div class="text-container">
					ENES102 Truss
				</div>
			</div>
		</section>
		<div class="wrapper"><Textbox
			headertext="PROJECT OVERVIEW"
			datetext="4-03-2024"
		/>
		<section class="body-text">The purpose of this project was to design, analyze, and build a truss following several specific design requirements. This structure was meant to withstand an applied load of 1000 pounds while weighing as little as possible. To achieve this, we designed our own truss and calculated failure modes to optimize weight, removing material where it wasn’t needed. After designing and analyzing the truss, we constructed it and prepared to test it on the designated truss test day. 
		</section>
		<ProgressBar Progress="Complete"/>
		</div>
    </main>
	<footer>
        <button class="footer-button" onclick=`window.location.href='/Local AI Chatbot'`>⇦ Previous</button>
		<button class="footer-button" onclick=`window.location.href='/'`>Home</button>
		<button class="footer-button" onclick=`window.location.href='/Portfolio Website'`>Next ⇨</button>
	</footer>
</Layout>
<link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
<style>
.header-section {
	height: clamp(0px, 30vh, 100vw);
	background-image: url("../assets/Cover_Images/project2cover.jpg");
	background-size: cover; 
	background-position: center; /* Center the image */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
</style>