---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Project from "../components/Project.astro";
import Image from "astro/components/Image.astro";
import hero1 from "../assets/hero1.png";
import hero2 from "../assets/hero2.jpg";
import hero3 from "../assets/hero3.png";
import hero4 from "../assets/hero4.png";
---

<Layout title="HOME">
	<main style="margin-top: 4rem">
		<section class="header-section">
			<div class="header-container">
				<div class="text-container">
					<h1>Hi, I'm <span class="text-gradient">Cooper</span></h1>
				</div>
			</div>
		</section>
		<section class = "hero-section">
			<div class="intro-text">I'm an aerospace engineering student at the University of Maryland,</div>
			<div><h2>I make <span class="text-gradient">software</span> fly</h2></div>
			<div class="image-container">
			<Image src={hero2} alt="hero1" class="heroimage2"/>
			<Image src={hero3} alt="hero1" class="heroimage2" style="margin-left:0px; margin-right:0px;"/>
			<Image src={hero4} alt="hero1" class="heroimage2"/>
			</div>
		</section>
		<section class="project-section">
		<div><h2><span class="text-gradient" style="font-family:OSWALD, sans-serif">PROJECTS</span></h2></div>
		<Project
			projectname="project1"
			tintvalues="(255, 255, 255, 0.1)"
			projectId="1"
		/>
		<Project
			projectname="project2"
			tintvalues="(0, 0, 0, 0.7)"
			projectId="2"
		/>
		<Project
			projectname="project3"
			tintvalues="(0, 0, 255, 0.7)"
			projectId="3"
		/>
	</section>
	</main>
</Layout>

<style>
.project-section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
}
.intro-text {
	margin-top: 5vw;
	text-align: center;
	width: clamp(0px, 85vw, 85rem);
	font-size: clamp(0.5rem, 2vw, 2rem);
}
h2 {
	font-size: clamp(0px, 10vw, 10rem);
	font-weight:100;
	margin: 0px; /* Remove default margin */

}
.image-container {
    display: flex;
    justify-content: space-between;
	width: 80vw;
	padding: 0px;
	transition: width 0.3s ease;
  }
  .image-container:hover {
    width:100vw;
  }
  .image-container img {
    transition: transform 0.3s ease, flex 0.3s ease;
    object-fit: cover;
    width: 20vw;
    height: min(70vh, 70vw);
    flex: 1;
  }
  .image-container img:hover {
	flex: 1.4;
  }
Image {
	width: 100vw;
	height: auto;
}
.floater{
	text-align: center;
	color: black; /* Ensure the text is visible over the background */
	padding: 1rem;
	background: white; /* Optional: Add a semi-transparent background to improve text readability */
	border-radius: 1rem;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.hero-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 2rem;
	
}
.heroimage2{
	border-radius: 1rem;
	width: 25vw;
	height: 50rem;
	margin: 1rem;
}
.header-section {
	height: clamp(0px, 90vh, 100vw);
	background-image: url("../assets/hero1.png"); /* Set the background image */
	background-size: cover; /* Cover the entire container */
	background-position: center; /* Center the image */
	display: flex;
	align-items: center;
	justify-content: left;
	width: 100vw;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	
}

.header-container {
	text-align: center;
	color: black; /* Ensure the text is visible over the background */
	padding: 2rem;
	background: white; /* Optional: Add a semi-transparent background to improve text readability */
	border-radius: 1rem;
	margin-left: 10vw;
	margin-right: 50vw;

}

h1 {
	font-size: clamp(1rem, 7vw, 7rem); /* Increase the font size */
	margin: 0px;
	font-weight: 100;
}

.text-gradient {
	background: linear-gradient(
		90deg,
		#022188,
		#444dd3
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
}

.instructions {
	margin-top: 0;
}

</style>
<script>
	document.addEventListener("DOMContentLoaded", () => {
		const checkboxes = document.querySelectorAll('input[type="checkbox"]');
		checkboxes.forEach((checkbox) => {
			checkbox.addEventListener("change", () => {
				if (checkbox.checked) {
					// Uncheck all other checkboxes
					checkboxes.forEach((cb) => {
						if (cb !== checkbox) cb.checked = false;
					});
				}
			});
		});
	});
</script>
