---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Project from '../components/Project.astro';
---
<Layout title="Welcome to portfolio.">
	<main>
		<h1>Welcome to <span class="text-gradient">portfolio</span></h1>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		</ul>
	</main>
	<Project projectname='project1' tintvalues='(255, 255, 255, 0.1)' projectId="1"></Project>
	<Project projectname='project2' tintvalues="(0, 0, 0, 0.7)" projectId="2"></Project>
	<Project projectname='project3' tintvalues="(0, 0, 255, 0.7)" projectId="3"></Project>
</Layout>
<script>
	document.addEventListener('DOMContentLoaded', () => {
		const checkboxes = document.querySelectorAll('input[type="checkbox"]');
		checkboxes.forEach((checkbox) => {
			checkbox.addEventListener('change', () => {
				if (checkbox.checked) {
					// Uncheck all other checkboxes
					checkboxes.forEach((cb) => {
						if (cb !== checkbox) cb.checked = false;
					});
				}
			});
		});
	});
	</script>

