---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Project from '../components/Project.astro';
import Image from 'astro/components/Image.astro';
import project1cover from '../assets/project1cover.jpg';
---
<Layout title="HOME">
	<main style = 'margin-top: 4rem'>
		<h1>Welcome to <span class="text-gradient">portfolio</span></h1>
		<p class="instructions">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		</ul>
		<Image src={project1cover} alt="hero" width="500" height="500" />
	</main>
	<Project projectname='project1' tintvalues='(255, 255, 255, 0.1)' projectId="1"></Project>
	<Project projectname='project2' tintvalues="(0, 0, 0, 0.7)" projectId="2"></Project>
	<Project projectname='project3' tintvalues="(0, 0, 255, 0.7)" projectId="3"></Project>
</Layout>
<script>
	document.addEventListener('DOMContentLoaded', () => {
		const checkboxes = document.querySelectorAll('input[type="checkbox"]');
		checkboxes.forEach((checkbox) => {
			checkbox.addEventListener('change', () => {
				if (checkbox.checked) {
					// Uncheck all other checkboxes
					checkboxes.forEach((cb) => {
						if (cb !== checkbox) cb.checked = false;
					});
				}
			});
		});
	});
</script>

