---
import Layout from "../layouts/Layout.astro";
import image from "../assets/Cover_Images/project2cover.jpg"
import { Image } from "astro:assets";
import "../assets/styles.css";
---
<Layout title="Autonomus_Drone_Teaming">
	<main style="margin-top: 4rem">
		<section class="header-section">
			<div class="header-container">
				<div class="text-container">
					Carbon Fiber Aerostructures
				</div>
			</div>
		</section>
		<div class="wrapper">
		<section class="textbox">
			<div class="textbox-header-container">
				<div class="textbox-header">PROJECT OVERVIEW</div>
				<div class="textbox-date">10-13-2024</div>
			</div>
			The goal of this project is to create a method of quickly and cheaply reinforcing 3D printed parts so they can be used in durable UAVs.
		</div>
		<div class = "wrapper">
			WIP
		</div>
    </main>
	<footer>
        <button class="footer-button" onclick=`window.location.href='/Autonomous Drone Software'`>⇦ Previous</button>
		<button class="footer-button" onclick=`window.location.href='/'`>Home</button>
		<button class="footer-button" onclick=`window.location.href='/Aerodynamic Guided Parachute'`>Next ⇨</button>
	</footer>
</Layout>
<link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
<style>
.header-section {
	height: clamp(0px, 30vh, 100vw);
	background-image: url("../assets/Cover_Images/project2cover.jpg");
	background-size: cover; 
	background-position: center; /* Center the image */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
</style>