---
import Layout from "../layouts/Layout.astro";
import image from "../assets/Cover_Images/project9cover.png"
import { Image } from "astro:assets";
import "../assets/styles.css";
import Textbox from "../components/Textbox.astro";
import ProgressBar from "../components/ProgressBar.astro";
---
<Layout title="Portfolio Website">
	<main style="margin-top: 4rem">
		<section class="header-section">
			<div class="header-container">
				<div class="text-container">
					Portfolio Website
				</div>
			</div>
		</section>
		<div class="wrapper"><Textbox
			headertext="PROJECT OVERVIEW"
			datetext="11-8-2024"
		/>
		<section class="body-text">This is my personal portfolio website. I built this website using Astro, a new static site generator. I used Astro to create a fast, modern, and accessible website. I used Astro's component system to create reusable components like text boxes and progress bars. I also used Astro's asset pipeline to import images and styles. </section>
		<ProgressBar Progress="Working on it"/>
		</div>
		<div class="wrapper"><Textbox
			headertext="MORE INFO"
			datetext="11-8-2024"
		/>
		<section class="body-text">This page is WIP until the site is complete!</section>
    </main>
	<footer>
        <button class="footer-button" onclick=`window.location.href='/Highest Performing Truss'`>⇦ Previous</button>
		<button class="footer-button" onclick=`window.location.href='/'`>Home</button>
		<button class="footer-button" onclick=`window.location.href='/OTV Robot Finalist'`>Next ⇨</button>
	</footer>
</Layout>
<link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
<style>
.header-section {
	height: clamp(0px, 30vh, 100vw);
	background-image: url("../assets/Cover_Images/project9cover.png");
	background-size: cover; 
	background-position: center; /* Center the image */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
</style>