---
interface Props {
    headertext: string;
    datetext: string;
}
const { headertext, datetext } = Astro.props;

---
<section class="textbox">
    <div class="textbox-header-container">
        <div class="textbox-header">{ headertext }</div>
        <div class="textbox-date">{ datetext }</div>
    </div>
</section>
