:root {
    --aspect-ratio-image1: 1; /* Default value; updated via JavaScript */
    --aspect-ratio-image2: 1; /* Default value; updated via JavaScript */
  }
h1{
    font-size: clamp(1rem, 4vw, 4rem);
    font-weight: Bold;
    margin: 0px;
    margin-left: 2vw;
}
.section-title{
	text-align: left;
    justify-self: center;
}
.singleimage {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 70vw;
	height: auto;
}
.header-container {
	font-size: clamp(1rem, 10vw, 5rem);
    user-select: none;
    font-weight: 500;
    text-align: center;
	color: Black;
	padding: 0.5rem;
    margin: 2vw;
	background: white; 
	border-radius: 1rem;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: opacity 0.3s ease;
}
.bodytext {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    color: #333;
    padding: 0.5rem;
    margin: 2vw;
    background: white; 
    border-radius: 1rem;
    width: clamp(0px, 80vw, 80rem);
    justify-self: center
}

.two-images{
    display: flex;
    justify-self: center;
    width: clamp(0px, 80vw, 80rem);
}

.two-images img {
    object-fit: cover;
    height: 30rem;
    margin: 1rem;
    border-radius: 1rem;
}

.beside-image-text {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    color: #333;
    margin: 2vw;
    margin-top: 0.5rem;
    background: white; 
    border-radius: 1rem;
    justify-self: center
}
.text-beside-image {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 2vw;
    width: clamp(0px, 80vw, 80rem);
    justify-self: center;
}

.text-beside-image img {
    width: clamp(20%, 50vw, 50rem);
    height: auto;
}

.text-beside-image .text {
    border-radius: 1rem;
    margin: 1rem;
}
h3 {
	font-size: clamp(3rem, 6vw, 6rem);
	font-weight: Bold;
	margin: 3vw; /* Remove default margin */
	font-family: 'Roboto Condensed';
	border-bottom: 0.7vw solid #333;
    width: clamp(0px, 80vw, 80rem);
}
/* Media query for smaller screens */
@media (max-width: 80rem) {
    .text-beside-image {
        flex-direction: column;
        align-items: center;
    }

    .text-beside-image img {
        width: 70%;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .text-beside-image .text {
        text-align: center;
    }
}